extends layout

block content
  div#main
    h1= title
    p Welcome on the API of Ailleurs's Project
    br
    h2 Description 
    p This is a minimal API to communicate with the data of the ailleurs's project.
    p This API provides only GET methods to view informations about the different French departments.
    p All the data aggregated in the data files come from data.gouv.fr or from official French organisations like INSEE...
    p BUT it is the fantasy of this app's creator to weight importance or not to the data. So there is not much objectivity in those results.
    br
    h2 Endpoints definitions
    p These are the available routes :
    div(class='routes')
      h3(class='route') GET /maps/:type
      p The route to get a specific classification of the French departments according to a specific criteria :  type.
      p Only three types are available :
      ul
        li `security` : a map that agregates data about health and security 
        li `family` : a map with criteria about every day life (ride's time to get to work, number of schools...) 
        li `environment` : a map that agregates data about organic agriculture, average temperatures and nuclear threat.
      p The results are arrays of sorted departements with a score out of 100 . For security map, bigger is the score, more secure is the department. For family map, bigger is the score, more pleasant is the daily life. For environment map, bigger is the score, healthier is the environment.
      p
      div(class='row')
        div(class='example_req')
          p http://localhost:3002/maps/security
        div(class='example_res')
          p   mapData: [
          p { dep_id: "50", dep_name: "Manche", danger_total: "10.76" },
          p { dep_id: "15", dep_name: "Cantal", danger_total: "11.00" },
          p { dep_id: "48", dep_name: "Lozère", danger_total: "11.05" },
          p { dep_id: "53", dep_name: "Mayenne", danger_total: "11.92" },
          p { dep_id: "12", dep_name: "Aveyron", danger_total: "12.83" },
          p { dep_id: "85", dep_name: "Vendée", danger_total: "12.95" },
          p { dep_id: "35", dep_name: "Ille-et-Vilaine", danger_total: "13.46" },
          p { dep_id: "23", dep_name: "Creuse", danger_total: "13.58" },
          p { dep_id: "79", dep_name: "Deux-Sèvres", danger_total: "13.63" },
          p { dep_id: "2B", dep_name: "Haute-Corse", danger_total: "13.72" },
          p { dep_id: "22", dep_name: "Côtes-d'Armor", danger_total: "13.89" },
          p { dep_id: "49", dep_name: "Maine-et-Loire", danger_total: "14.09" },
          p { dep_id: "39", dep_name: "Jura", danger_total: "14.23" },
          p { dep_id: "43", dep_name: "Haute-Loire", danger_total: "14.32" },
          p { dep_id: "29", dep_name: "Finistère", danger_total: "14.59" },
          p { dep_id: "19", dep_name: "Corrèze", danger_total: "15.10" },
          p { dep_id: "40", dep_name: "Landes", danger_total: "15.10" }, 
          p ...
    div(class='routes')
      h3(class='route') GET /survey/
      p The route to get the entire survey
      p It returns an array with all the questions of the survey.
      div(class='row')
        div(class='example_req')
          p http://localhost:3002/survey
        div(class='example_res')
          p surveyData: [
          p "Situation familiale",
          p "tranche d'âge",
          p "part du télétravail dans votre activité",
          p "Craignez-vous d'être cambriolé?",
          p "Combien de kilomètres êtes-vous prêt à parcourir pour aller voir votre généraliste?",
          p "Est-ce que le nombre d'agressions sur un territoire est un critère important pour vous?",
          p "Quelle est la part du bio dans votre alimentation?",
          p "Supportez-vous la chaleur?",
          p "A quelle distance d'une centrale nucléaire seriez-vous prêt à vous installer?",
          p   ]
    div(class='routes')
      h3(class='route') GET /survey/:id
      p The route to get to a specific question of the survey
      p It returns an object with the question asked.
      div(class='row')
        div(class='example_req')
          p http://localhost:3002/survey/4
        div(class='example_res')
          p {"surveyQuestion":"Combien de kilomètres êtes-vous prêt à parcourir pour aller voir votre généraliste?"}

    div(class='routes')
      h3(class='route') GET /mymap/?a1={answer1}&a2={answer2}&a3={answer3}...
      p The route to get the survey's results
      p It returns a sorted array with the classsification of the most convenient French departments for the user's app.
      div(class='row')
        div(class='example_req')
          p http://localhost:3002/mymap/?a0=0&a1=3&a2=0&a3=2&a4=0&a5=3&a6=2&a7=3&a8=2
        div(class='example_res')
          p {"myMapData":[{"dep_id":"74","dep_name":"Haute-Savoie","result":"27.113"},
          p {"dep_id":"29","dep_name":"Finistère","result":"27.410"},
          p {"dep_id":"22","dep_name":"Côtes-d'Armor","result":"27.817"},
          p {"dep_id":"27","dep_name":"Eure","result":"28.007"},
          p {"dep_id":"40","dep_name":"Landes","result":"28.367"},
          p {"dep_id":"45","dep_name":"Loiret","result":"28.403"},
          p {"dep_id":"61","dep_name":"Orne","result":"28.580"},
          p {"dep_id":"75","dep_name":"Paris","result":"28.657"},
          p {"dep_id":"73","dep_name":"Savoie","result":"28.987"},
          p {"dep_id":"56","dep_name":"Morbihan","result":"29.007"},
          p {"dep_id":"50","dep_name":"Manche","result":"29.013"},
          p {"dep_id":"95","dep_name":"Val-d'Oise","result":"29.127"}
          p ...
    div(class='routes')
      h3(class='route') GET /departement/:id
      p The route to get the caracteristics of a specific French department
      div(class='row')
        div(class='example_req')
          p http://localhost:3002/departement/38
        div(class='example_res')
          p  departementData: {
          p  _id: { $oid: "6167f6fa8dc41272169c2fce" },
          p  num_dep: "38",
          p  dep_name: "Isère",
          p  region_name: "Auvergne-Rhône-Alpes",
          p  fiber_ratio: "54.04",
          p  schools_number: 1237,
          p  total_population: 1288406,
          p  total_population_region: 8167945,
          p  rideAverageTime: "17",
          p  num_assaults: "3798",
          p  num_burglaries: "7308",
          p  num_healthCenters_10000_inhabitants: 33.78940480133008,
          p  num_nuclear_reactors: 2,
          p  organic_farming_ratio: "8.61315027849501%",
          p  avgTemp: 12.88891710231516,
          p  maxTemp: 38.05,
          p  minTemp: -10.45,
          p  sunlight_hours: "2020",
          p }
    br
    h2 Error Handling 
    p Every route parameter and query string is verified with a validator which prints an error message if any.
    p For other errors, the API returns an appropriate HTTP response code, for example 404 (Not Found), and a JSON response. Any HTTP response code that is not in the range 200 - 299 is considered an error.

